body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #101018;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 42px;
}

.arena {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.player {
    width: 250px;
    padding: 30px;
    background: #1e1e2e;
    border-radius: 20px;
    border: 2px solid #444;
}

.player h2 {
    margin-top: 0;
}

.vs {
    font-size: 40px;
    font-weight: bold;
}

.controls {
    margin-top: 50px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: #5b5be7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #7777ff;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

#message {
    margin-top: 30px;
    font-size: 20px;
}
.hp-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px;
}

.hp-box div {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    min-width: 150px;
}